<% provide(:title, 'Cart') %>

<table id="line_items">
	<tr>
		<th>Track</th>
		<th class="price">Price</th>
	</tr>
	<% for line_item in @cart.line_items %>
		<tr class="<%= cycle :odd, :even %>">
			<td><%=h line_item.track.name %></td>
			<td class="price"><%= number_to_currency_gbp(line_item.full_price) %></td>
		</tr>
	<% end %>
	<tr>
		<td class="total price" colspan="4">
			Total: <%= number_to_currency_gbp @cart.total_price %>
		</td>
	</tr>
</table>

<p>
	<%= link_to "Continue Shopping", '#' %> |
	<%= link_to "Checkout", :controller => 'paypal_express', :action => 'checkout' %> <!-- @cart.paypal_url(products_url) -->
</p>