<% provide(:title, @band.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @band.name %>
			</h1>
		</section>	
		<% if allow_upload? %>
			<section>
				<% session[:band_id] = params[:id] %>

				<%= render 's3_uploads' %>

			</section>

		<% end %>

		<section>
			<% if current_band?(@band) || admin? %>
				<%= form_for @band do |f| %>
					<%= f.label :bio %>
					<%= f.text_area :bio %>
					<%= submit_tag "Save changes", class: "btn btn-large btn-primary" %>
				<% end %>
			<% else %>
				<h2>Bio</h2>
				<p><%= @band.bio %></p>
			<% end %>
		</section>
	</aside>
	<div class="span8">
		<h3>Tracks</h3>
		<ol class="microposts">
			<%= render @tracks %>
		</ol>
		<%= will_paginate @tracks %>
	</div>
</div>