<% provide(:title, @band.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @band.name %>
			</h1>
		</section>	
		<% if allow_upload? %>
			<section>
				<%= link_to "Add a song", new_track_path(:band_id => @band) %>
				<%= form_for Track.new do |f| %>
					<%= f.label :song, "Upload songs:" %>
					<%= f.file_field :song, multiple: true, name: "track[song]" %>
				<% end %>
			</section>
		<% end %>
	</aside>
	<div class="span8">
		<% if @band.tracks.any? %>
			<h3>Tracks: (<%= @band.tracks.count %>)</h3>
			<ol class="microposts">
				<%= render @tracks %>
			</ol>
			<%= will_paginate @tracks %>
		<% end %>
	</div>
</div>