<% provide(:title, @band.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @band.name %>
			</h1>
		</section>	
		<% if allow_upload? %>
			<section>
				<% session[:band_id] = params[:id] %>
<!-- 				<%= link_to "Add a song", new_track_path(:band_id => @band) %> -->
<!-- 				<%= render 'shared/upload_songs' %> -->
				<%= s3_uploader_form post: tracks_url, as: "track[image_url]" do %>
					<%= file_field_tag :file, multiple: true %>
				<% end %>
				<script id="template-upload" type="text/x-tmpl">
					<div class="upload">
						{%=o.name%}
						<div class="progress"><div class="bar" style="width: 0%"></div></div>
					</div>
				</script>
			</section>
		<% end %>
	</aside>
	<div class="span8">
		<% if @band.tracks.any? %>
			<h3>Tracks: (<%= @band.tracks.count %>)</h3>
			<ol class="microposts">
				<%= render @tracks %>
			</ol>
			<%= will_paginate @tracks %>
		<% end %>
	</div>
</div>