<% provide(:title, 'Sign up new band') %>
<h1>Sign up new band</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for @account, :url => url_for(:action => 'createBand') do |f| %>
			
			<%= f.fields_for :band do |builder| %>
				<%= render 'band_fields', builder: builder %>
			<% end %>

			<%= render 'account_fields', f: f %>

			<%= f.submit "Create band", class: "btn btn-large btn-primary" %>

		<% end %>
	</div>
</div>