<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for @account, :url => url_for(:action => 'createUser') do |f| %>
			
			<%= f.fields_for :user do |builder| %>
				<%= render 'user_fields', builder: builder %>
			<% end %>

			<%= render 'account_fields', f: f %>	

			<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>

		<% end %>
	</div>
</div>